{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-10 my-auto">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h1 class="card-title">Welcome to Teetime</h1>
                    <p>Ireland is home to over <strong>350 golf 18 hole golf courses</strong>, including 50 of most
                        prestigious
                        <strong>links courses</strong> in the World,
                        and a selection of exceptional <strong>championship courses</strong> in amazing locations.
                        Every year over <strong>240,000 golfers</strong> from all over the world come to Ireland to play
                        Golf.
                    </p><br>
                    <p>Let us help you find your next round of <strong>Golf</strong>, <strong>book a tee time</strong>,
                        or visit our <strong>Golf Shop</strong> where you can buy <strong>Golf Clothing</strong> and
                        <strong>Golf accessories</strong>.</p>
                </div>
                <a href="" class="btn btn-lg rounded-0 text-uppercase py-3">Explore Golf Clubs</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}