{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-10 my-auto">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"><h1 class="dispaly-4 logo-font">
                    Welcome
                </h1></div>
                <div class="card-body">
                  <h2 class="card-title"><a href="" class="btn btn-lg rounded-0 text-uppercase py-3">View all Golf Clubs</a></h2>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}