{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row bg-light my-5 p-3 rounded">
        <div class="col">
            <div class="row">
                <div class="col-sm d-flex flex-wrap">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h1 class="text-success">Welcome to Teetime!</h1>
                            <p> We're glad you're here. At Teetime, you'll find a variety of
                                resources to help you improve your game and enjoy your time on the course. We hope you
                                find
                                everything you need to enhance your golfing
                                experience.</p>
                            <p>Ireland is home to over 350 <strong>18 hole Golf courses</strong>, 50 of most
                                prestigious
                                <strong>links courses</strong> in the World,
                                a selection of exceptional <strong>championship courses</strong> in amazing locations.
                                Every year over <strong>240,000 golfers</strong> from all over the world come to Ireland
                                to play
                                Golf.
                            </p><br>
                            <p>Let us help you find your next round of <strong>Golf</strong>, <strong>book a tee
                                    time</strong>,
                                or visit our <strong>Golf Shop</strong> where you can buy <strong>Golf
                                    Clothing</strong>.
                                Thanks for visiting, and we hope to see you on the course soon!</p>
                            <div class="col-12 col-md-6 rounded m-2 mx-auto">
                                <a class="btn btn-success btn-lg" href="{% url 'golf_clubs' %}" role="button">Explore Golf Clubs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}