{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <div class="col">
                <a class="text-muted text-decoration-none" href="{% url 'products' %}">
                    <h1 class="my-5">
                        SHOP
                    </h1>
                </a>
            </div>
        </div>
    </div>
    <div class="row bg-light p-3 rounded">
        <div class="d-none d-lg-block col-md-2">
            <h2 class="fs-6">CATEGORIES</h2>
            <hr>
            <p><a class="nav-link text-muted" href="{% url 'products' %}">All Products</a></p>
            {% for category in categories_list %}
            <p><a class="nav-link text-muted"
                    href="{% url 'products' %}?category={{category.name}}">{{ category.friendly_name }}</a></p>
            {% endfor %}
            <h2 class="fs-6">All Products</h2>
            <hr>
            <p><a href="{% url 'products' %}?sort=price&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Price</a></p>
            <p><a href="{% url 'products' %}?sort=category&direction=asc"
                    class="nav-link text-decoration-none text-muted">By
                    Category</a></p>
            <p><a href="{% url 'products' %}?sort=brand&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Brand</a></p>
            <p><a href="{% url 'products' %}?sort=rating&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Rating</a></p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5">
                        <div class="card-header text-muted">
                            <h2>Basket</h2>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12 text-center">
                                {% if basket_items %}
                                <div class="table-responsive rounded">
                                    <table class="table table-sm table-responsive">
                                        <thead class="text-success">
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Product Info</th>
                                                <th scope="col">Qty</th>
                                            </tr>
                                        </thead>
                                        {% for item in basket_items %}
                                        <tr>
                                            <td class="p-3 w-25">
                                                {% if item.product.image %}
                                                <img class="w-100" src="{{ item.product.image.url }}"
                                                    alt="{{ item.product.name }}">
                                                {% else %}
                                                <img class="w-100" src="{{ MEDIA_URL }}/products/noimage.jpg"
                                                    alt="{{ item.product.name }}">
                                                {% endif %}
                                            </td>
                                            <td class="py-3">
                                                <p class="my-0 text-muted">{{ item.product.brand }}</p>
                                                <p class="my-0">{{ item.product.name }}</p>
                                                <p class="my-0"><strong>Price:</strong> €{{ item.product.price }}</p>
                                                <p class="my-0"><strong>Size:</strong> {{ item.size|upper }}</p>
                                                <p class="my-0"><strong>Subtotal:
                                                        €{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                                </p>
                                            </td>
                                            <td>
                                                {% include "basket/quantity-form.html" %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="5" class="pt-5 text-right">
                                                <h6><strong>Basket Total: €{{ total|floatformat:2 }}</strong></h6>
                                                <h6>Shipping: €{{ delivery|floatformat:2 }}</h6>
                                                <h4 class="mt-4"><strong>Grand Total:
                                                        €{{ grand_total|floatformat:2 }}</strong></h4>
                                                {% if free_delivery_delta > 0 %}
                                                <p class="mb-1 text-danger">
                                                    Spend <strong>€{{ free_delivery_delta }}</strong> to get free
                                                    shipping!
                                                </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <a href="{% url 'products' %}"
                                                    class="btn btn-outline-secondary rounded btn-lg">
                                                    <span class="icon">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </span>
                                                    <span class="text-uppercase">Back</span>
                                                </a>
                                                <a href="{% url 'checkout' %}" class="btn btn-success rounded btn-lg">
                                                    <span class="text-uppercase">Secure Checkout</span>
                                                    <span class="icon">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                {% else %}
                                <h3 class="text-success"><strong>Your basket is Empty</strong></h3>
                                <a href="{% url 'products' %}" class="btn btn-success cart-btn-transform m-3">Return to
                                    Shop</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}