{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <div class="col">
                <h1 class="my-5 text-muted">
                    Basket
                </h1>
            </div>
        </div>
    </div>
    <div class="row bg-light p-3 rounded">
        <div class="d-none d-lg-block col-md-2">
            <h2 class="fs-6">CATEGORIES</h2>
            <hr>
            <p><a class="nav-link text-muted" href="{% url 'products' %}">All Products</a></p>
            {% for category in categories_list %}
            <p><a class="nav-link text-muted"
                    href="{% url 'products' %}?category={{category.name}}">{{ category.friendly_name }}</a></p>
            {% endfor %}
            <h2 class="fs-6">All Products</h2>
            <hr>
            <p><a href="{% url 'products' %}?sort=price&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Price</a></p>
            <p><a href="{% url 'products' %}?sort=category&direction=asc"
                    class="nav-link text-decoration-none text-muted">By
                    Category</a></p>
            <p><a href="{% url 'products' %}?sort=brand&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Brand</a></p>
            <p><a href="{% url 'products' %}?sort=rating&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Rating</a></p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm d-flex flex-wrap">
                    {% if basket_items %}
                    <div class="table-responsive rounded"></div>
                    {% else %}
                    <p class="lead mb-5">Your basket is empty</p>
                    <a class="rounded btn btn-lg text-success" href="{% url 'products' %}">
                        <span class="icon"><i class="fas fa-backward"></i></span>
                        <span>Return to Shop</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.back-to-top').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}