<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <label for="quantityInput">Quantity:</label>
            <input
                class="form-control form-control-sm w-100 w-md-50 qty_input id_qty_{{ item.item_id }} 
                                                                {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                id="quantityInput" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
            <div class="input-group-prepend">
                <button
                    class="decrement-qty btn btn-sm btn-danger rounded m-1 decrement-qty_{{ item.item_id }} 
                                                                    {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span class="icon">-</span>
                </button>
            </div>
            <div class="input-group-append">
                <button
                    class="increment-qty btn btn-sm btn-success rounded m-1 increment-qty_{{ item.item_id }} 
                                                                    {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span class="icon">+</span>
                </button>
            </div>
            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-success"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
    data-product_size="{{ item.size }}"><small>Remove</small></a>