html {
    height: 100%;
}

body {
    background: url('/media/home_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Product List */
.card.product-list {
    max-width: 200px;
}

/* Taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fas,
.fab {
    color: rgba(0, 0, 0, .5);
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Mailchimp Newsletter */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
  }

/* -------------------------------------Media Queries */

/*  larger container for xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* top navbar only on medium upward */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}