{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <a class="text-success text-decoration-none" href="{% url 'booking_list' %}">
                <h1 class="my-5">
                    Bookings
                </h1>
            </a>
        </div>
    </div>
    <!-- cards -->
    <div class="row bg-light my-5 p-3 rounded">
        <div class="col-12 col-md-6 mx-auto">
            <!-- Display if user is not logged in -->
            {% if not user.is_authenticated %}
            <div class="row">
                <div class="col-12 col-md-6 m-5 mx-auto">
                    <h2 class="text-success">Login required</h2>
                    <p>Please login to edit bookings</p>
                    <a class="btn btn-success" href="{% url 'account_login' %}">Go to Login
                        Page</a>
                </div>
            </div>
            {% else %}

            <!-- Display form if user is logged in-->
            {% if user.is_authenticated and user == booking.user %}
            <div class="card m-5 col-12 col-md-6 mx-auto">
                <div class="card-body text-center">
                    <h3 class="text-danger">Cancel Tee Time?</h3>
                    <h5 class="card-title text-success">Location: {{ booking.golf_club_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Name: {{ booking.name }}</h6>
                    <p class="fw-bold">Date: {{ booking.requested_date }}</p>
                    <p class="fw-bold">Tee Time: {{ booking.requested_time }}</p>
                    <p class="fw-bold">Players: {{ booking.player_count }}</p>
                    <h6 class="text-danger">Are you sure?</h6>
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">YES</button>
                        <a href="{% url 'booking_list' %}" class="btn btn-secondary">Return</a>
                    </form>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="row">
                <div class="col">
                    <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}