{% extends 'base.html' %}h1
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <a class="text-success text-decoration-none" href="{% url 'golf_clubs' %}">
                <h1 class="my-5">
                    Golf Clubs
                </h1>
            </a>
        </div>
    </div>

    <!-- cards -->
    <div class="row bg-light my-5 p-3 rounded">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6">
                    {% if club.image %}
                    <a href="">
                        <img class="card-img-top mt-2 p-3 rounded" src="{{ club.image.url }}"
                            alt="A photgraph of {{ club.golf_club_name }}"></a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top mt-2 p-3 rounded" src="{% static 'img/default-image.jpg' %}"
                            alt="golf club image"></a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 mt-2 p-3">
                    <a href="">
                        <h2 class="card-title text-success">{{ club.golf_club_name }}</h2>
                    </a>
                    {{ club.description|safe }}
                    <a class="btn btn-success btn-sm" href="{% url 'golf_clubs' %}" role="button">Return</a>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 p-5 justify-content-center">
                    <h2 class="text-success">Facilities:</h2>
                    <ul>
                        <li>Buggy Rental</li>
                        <li>Trolley Rental</li>
                        <li>Free Parking</li>
                        <li>Free Wifi</li>
                        <li>Lockers & Showers</li>
                        <li>Bar & restaurant</li>
                        <li>Driving Range</li>
                        <li>Pro Shop</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <!-- Display if user is not logged in -->
                    {% if not user.is_authenticated %}
                    <h3 class="text-success">Login Required</h3>
                    <p>Please login to book a tee time.</p>
                    <a class="btn btn-success btn-sm" href="{% url 'account_login' %}" role="button">Login</a>
                    {% else %}
                    <!-- Display form if user is logged in-->
                    {% if user.is_authenticated %}
                    <div class="row text-center">
                        <div class="col-12">
                            <h3 class="fw-bold mt-3 text-success">Book Now</h3>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- booking form -->
                        {{ booking_form| crispy }}

                        <button class="btn btn-success" type="submit">Book Tee Time</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    <!-- Form Errors from stack overflow -->
                    {% if booking_form.errors %}
                    {% for field in booking_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in booking_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}