{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row bg-light my-5 p-3 rounded">
        <div class="col">
            <div class="row">
                <div class="col-sm d-flex flex-wrap">
                    <div class="card bg-light mb-3">
                        {% for club in Clubs %}
                        <div class="card-body">
                            <h1 class="text-success">{{ club.golf_club_name }}</h1>
                            <p> {{ club.descripton }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}