{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-10 col-md-6 my-5 mx-auto d-block">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h1 class="text-success">
                            The page you are looking for is not available.
                        </h1>
                        <div class="my-5">
                            <h2>
                                <a href="{% url 'home' %}" 
                                    class="btn btn-success rounded">Return Home</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}