{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <div class="col">
                <a class="text-muted text-decoration-none" href="{% url 'products' %}">
                    <h1 class="my-5 p-3 text-success">
                        Accounts
                    </h1>
                </a>
            </div>
        </div>
    </div>
    <div class="row bg-light p-3 rounded">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5">
                        <div class="col-lg-6 allauth-form-inner-content p-3">
                            {% block inner_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}