{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <a class="text-success text-decoration-none" href="{% url 'contact' %}">
                <h1 class="my-5">
                    Contact Us
                </h1>
            </a>
        </div>
    </div>

    <div class="row bg-light my-5 p-3 rounded">
        <div class="col">
            <div class="row d-flex my-5 justify-content-center bg-light rounded">
                <div class="row my-5">
                    <div class="col-12 col-md-8 col-xl-5 mx-auto d-block">
                        <div class="row">
                            <div class="col-12 p-5 bg-light rounded send-message text-white">
                                <!-- Display if user is not logged in -->
                                {% if not user.is_authenticated %}
                                <h2 class="text-success">Message Us</h2>
                                <p class="text-success">Please login to send a message!</p>
                                <a href="{% url 'account_login' %}" class="btn btn-success rounded m-2">
                                    <span class="font-weight-bold">Login</span>
                                </a>
                                <a href="{% url 'home' %}" class="btn btn-secondary rounded m-2">
                                    <span class="font-weight-bold">Home</span>
                                </a>
                                {% else %}
                                <!-- Display form if user is logged in-->
                                {% if user.is_authenticated %}
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h2 class="fw-bold mt-3 text-success">Send Message</h2>
                                        <hr>
                                    </div>
                                </div>
                                <form method="POST" class="text-success" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- Contact form -->
                                    {{ contact_form| crispy }}

                                    <button class="btn btn-success" type="submit">Submit</button>
                                </form>
                                {% endif %}
                                {% endif %}
                                <!-- Form Errors from stack overflow -->
                                {% if contact_form.errors %}
                                {% for field in contact_form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in contact_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 my-5">
                    <h3 class="text-uppercase fw-bold mb-4 text-success">Teetime Inc.</h3>
                    <p>Floor 79,</p>
                    <p>Silicon Ave,</p>
                    <p>Financial and Tech District,</p>
                    <p>Naas,</p>
                    <p>Co. Kildare</p>
                    <p>info@teetime.com</p>
                    <p>+353 (0)1 123456</p>
                    <hr>
                    <p><em>Opening Hours:</em></p>
                    <p><em>Mon - Fri: 09:00 - 18:00</em></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}