{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <div class="col">
                <a class="text-muted text-decoration-none" href="{% url 'products' %}">
                    <h1 class="my-5">
                        SHOP
                    </h1>
                </a>
                <div class="m-3 w-50">
                    <select id="sort-selector"
                        class=" rounded-0 border border-{% if current_sort != 'None_None' %}success{% else %}light{% endif %}">
                        <option value="reset" {% if current_sort == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Price (low
                            to high)</option>
                        <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="rating_asc" {% if current_sort == 'rating_asc' %}selected{% endif %}>Rating
                            (low to high)</option>
                        <option value="rating_desc" {% if current_sort == 'rating_desc' %}selected{% endif %}>Rating
                            (high to low)</option>
                        <option value="brand_asc" {% if current_sort == 'brand_asc' %}selected{% endif %}>
                            Brand (A-Z)</option>
                        <option value="brand_desc" {% if current_sort == 'brand_desc' %}selected{% endif %}>
                            Brand (Z-A)</option>
                        <option value="category_asc" {% if current_sort == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sort == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                        <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name (A-Z)
                        </option>
                        <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name (Z-A)
                        </option>
                    </select>
                    <span class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class="text-success" href="{% url 'products' %}">All Products</a>
                            |</span>
                        {% endif %}
                        {{ products|length }} Items{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light p-3 rounded">
        <div class="d-none d-lg-block col-md-2">
            <h2 class="fs-6">CATEGORIES</h2>
            <hr>
            <p><a class="nav-link text-muted" href="{% url 'products' %}">All Products</a></p>
            {% for category in categories_list %}
            <p><a class="nav-link text-muted"
                    href="{% url 'products' %}?category={{category.name}}">{{ category.friendly_name }}</a></p>
            {% endfor %}
            <h2 class="fs-6">All Products</h2>
            <hr>
            <p><a href="{% url 'products' %}?sort=price&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Price</a></p>
            <p><a href="{% url 'products' %}?sort=category&direction=asc"
                    class="nav-link text-decoration-none text-muted">By
                    Category</a></p>
            <p><a href="{% url 'products' %}?sort=brand&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Brand</a></p>
            <p><a href="{% url 'products' %}?sort=rating&direction=desc"
                    class="nav-link text-decoration-none text-muted">By
                    Rating</a></p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm product-list d-flex flex-wrap">
                    {% for product in products %}
                    <div class="card m-2 me-md-2 p-3 product-list">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}"><img class="card-img-top"
                                src="{{ product.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}"><img class="card-img-top"
                                src="{% static 'img/default-image.jpg' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class=" card-body">
                            <p class="card-title fs-6"><strong>{{product.friendly_name}}</strong></p>
                        </div>
                        <div class="row">
                            <h3 class="fs-5">{{ product.name }}</h3>
                            <span class="fs-6 text-muted">{{ product.brand }}</span>
                            <hr>
                            <p class="text-left font-weight-bold">€{{ product.price }}{% if product.rating %}
                                <span class="text-muted text-right"><i
                                        class="fa-sharp fa-solid fa-star"></i>{{product.rating}}</span>
                                {% endif %}
                                <a class="btn btn-outline-secondary btn-sm" href="{% url 'product_detail' product.id %}"
                                    role="button">Details</a>
                                <p class="text-muted">{{ product.category.friendly_name }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p class="text-center w-100 fs-6 mt-5">Sorry, no matching products</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span style="float:right;" class="btn text-success back-to-top">Back to Top</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let url = new URL(window.location)

        let selected = selector.val();
        if (selected != 'reset') {
            let sort = selected.split('_')[0]
            let direction = selected.split('_')[1];

            url.searchParams.set('sort', sort);
            url.searchParams.set('direction', direction);

            window.location.replace(url);
        } else {
            url.searchParams.delete('sort');
            url.searchParams.delete('direction');
            window.location.replace(url);
        }
    })
</script>

<script type="text/javascript">
    $('.back-to-top').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}