{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col bg-light rounded">
            <div class="col">
                <h1 class="my-5">
                    SHOP
                </h1>
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="d-none d-lg-block col-md-2">
            <h2 class ="fs-6">CATEGORIES</h2>
            <hr>
            {% for category in categories %}
            <p><a class="text-decoration-none text-reset" href="">{{ category.friendly_name }}</a></p>
            {% endfor %}
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm product-list d-flex flex-wrap">
                    {% for product in products %}
                    <div class="card m-2 me-md-2 p-3 product-list">
                        {% if product.image %}
                        <a href=""><img class="card-img-top" src="{{ product.image.url }}"
                                alt="Card image cap"></a>
                        {% else %}
                        <a href="{}"><img class="card-img-top" src="{% static 'img/default-image.jpg' %}"
                                alt="Card image cap"></a>
                        {% endif %}
                        <div class=" card-body">
                            <p class="card-title fs-6"><strong>{{product.friendly_name}}</strong></p>
                        </div>
                        <h3 class="fs-5">{{ product.name }}</h3>
                        <span class="fs-6">{{ product.brand }}</span><hr>
                        <span>€{{ product.price }}</span>
                    </div>
                    {% empty %}
                    <p class="text-center w-100 fs-6 mt-5">Sorry, no matching products</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}